@--- tag.inside.tag

echo new Tattoo\Engine\Tag('a', array(), function($__tattoo_tag) use($__tattoo_vars)
{
$__tattoo_tag->content .= '<span />';
});

@--- scope.basic

if (!isset($__tattoo_vars)) {
	$__tattoo_vars = array();
}

echo '<button />';
